<div class="container">
  <h1>Profesionales Disponibles</h1>
  <p>Podrás comunicarte con estos profesionales, ajustar detalles, o cambiar la tarea despues de confirmar tu reserva.</p>
  <% @users.each do |user| %>
    <div class="contractor-card">
      <div class="contractor-card-left">
      </div>
      <h3 class="name-contractor"><%= user.contractor_name %></h3>
      <h6><%= user.location %></h6>
      <p><%= user.bio %></p>
      <%= link_to "Confirmar", new_enquiry_path, class: "confirm-prof-btn" %>
    </div>
  <% end %>
</div>

