<div class="box-for-all">
<div class="container-coming-soon">
  <%= image_tag "under_construction.png", alt: "renovaciones, proximamente", class: "under-construction" %>
</div>
  <h5 class="bajo-construccion">Esta página está bajo construcción</h5>
  <p class="proximamente">Proximamente podrás realizar tu renovación con Fixenova.</p>
</div>
