.white-logo-foot {
  width: 50px;
  margin-left: 11vw;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.second-foot-col {
  margin-right: 11vw;
}

.foot-col {
  padding-top: 4vh;
  color: white;

  a {
    color: white;

    &:hover {
      color: #9AA6A4;
      text-decoration: none;
    }
  }
}
