.topsec {
  display: flex;
}

.landing-square {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 45%;
}

.top-text {
  width: 50%;
}

.landing-top-images {
  width: 50%;
  position: absolute;
  left: auto;
  top: 70.14px;
  right: 0%;
  bottom: auto;
}

.regando-pic {
  position: absolute;
  left: auto;
  top: 54px;
  right: 22%;
  bottom: auto;
  overflow: hidden;
  max-width: 90%;
  border-radius: 2px;
  width: 80%;
}

.frase-pegadiza {
  margin-top: 48px;
  font-size: 28px;
  margin-left: 11vw;
  padding-right: 22px;
  margin-bottom: 50px;
}

.descripcion-landing {
  margin-left: 11vw;
  padding-right: 22px;
  margin-bottom: 50px;
}

.searches {
  margin-left: 11vw;
  border-radius: 20px;
  margin-bottom: 16px;
  border: 1px solid #6B717E;
  max-width: 400px;
}

.footer {
  height: 250px;
  background-color: #6B717E;
}

.join-card {
  height: 67vh;
  width: 32vw;
  border-radius: 10px;
  box-shadow: 1px 1px 4px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 610px !important;
}

.join-cards {
  display: flex;
  justify-content: space-between;
  margin-left: 11vw;
  margin-right: 11vw;
  align-items: center;
}

.landingline {
  height: 30vh;
}

.join-card-image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;

}

.join-card-bottom {
  padding: 32px;
}

.join-btn {
  border: 2px solid #DBD8AE;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #6B717E;
  background-color: rgba(219, 216, 174, 0.07);
  margin-left: 8vw;
  margin-right: 8vw;
  padding: 8px;
  margin-bottom: 16px;

  &:hover {
    text-decoration: none;
    color: #6B717E;
    background-color: rgba(219, 216, 174, 0.25);
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.join-btn2 {
  border: 2px solid #DBD8AE;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #6B717E;
  background-color: rgba(219, 216, 174, 0.07);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 8px;
  margin-bottom: 16px;

  &:hover {
    text-decoration: none;
    color: #6B717E;
    background-color: rgba(219, 216, 174, 0.25);
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.top-part-join-card {
  justify-content: flex-start;
}

.join-us-box {
  margin-bottom: 130px;
}

.coming-soon {
  margin-left: 18vw;
  text-decoration: none;
  color: #6B717E;
  border: 1px solid #6B717E;
  padding: 12px;
  border-radius: 10px;

    &:hover {
      text-decoration: none;
      color: #6B717E;
      transform: scale(1.05);
      background-color: rgba(107, 113, 126, 0.15);
      transition: 0.3s;
    }
}

.or {
  margin-left: 26vw;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {

  .top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .frase-pegadiza {
    margin-left: 0;
  }

  .landing-square {
    display: none;
  }

  .join-cards {
    display: block;
  }

  .join-card {
    width: 100%;
  }

  .landingline {
    display: none;
  }

  #top-join-card {
    margin-bottom: 36px;
  }

  .white-logo-foot {
    margin-right: 12px;
    margin-left: 3vw !important;
  }

  .descripcion-landing {
    display: none;
  }

  .frase-pegadiza {
    padding: 0px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .topsec {
    display: block;
  }

  .regando-pic {
    position: absolute;
    left: auto;
    top: 2px;
    right: 0%;
    bottom: auto;
    overflow: hidden;
    width: 100vw;
    max-width: none;
  }

  .top-text {
    margin-top: 360px;
    text-align: center;
    width: 100%;
  }

  .searches {
    margin-left: 0;
    border-radius: 20px;
    margin-bottom: 16px;
    border: 1px solid #6B717E;
    max-width: 400px;
    width: 300px;
    margin-right: 0;
  }

  .or {
    margin-left: 0;
    margin-bottom: 24px;
  }

  .coming-soon {
    margin-left: 0;
    margin-left: 0;
  }

  .cont1 {
    margin-top: 112px;
    text-align: center;
  }

  #dispon {
    margin-left: 3vw;
    font-size: 24px;
  }

  .first-foot-col {
    max-width: 170px;

    h5 {
      font-size: 18px;
    }
  }

  .second-foot-col {
    max-width: 170px;
    margin-right: -20px !important;

    h5 {
      margin-bottom: 29px;
      font-size: 18px;
    }
  }

  #unete {
    margin-left: 4vw;
    font-size: 24px;
  }


}
