.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #9AA6A4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-left: 10vw;
}

.nav-item {
  margin-right: 10vw;
}

.trabaja-btn {
  border: 2px solid #9AA6A4;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    border: 2px solid rgba(0,0,0,0.6);
  }
}

#avatar-mobil {
  display: none;
}

#incio-mobil {
  display: none;
  color: #9AA6A4;

}

@media only screen and (max-width: 576px) {
  .navbar-lewagon .navbar-brand img {
    width: 50px;
    margin-left: 3vw;
  }

  #incio-mobil {
    margin-right: 5px;
    display: block;
    list-style: none;
    border: 2px solid #9AA6A4;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
    color: #9AA6A4 !important;
    text-decoration: none;

    a {
      color: #4B525E !important;
      font-size: 12px;
    }

    &:hover {
      border: 2px solid rgba(0,0,0,0.6);

    }
  }

  #avatar-mobil {
    display: block;
  }

  .nav-item {
    list-style: none;
  }

  #urgente {
    font-size: 12px;
    margin-left: 50px;

    a {
      color: #4B525E !important;
    }
  }

}
