.name-contractor {
  font-size: 20px;
}

.contractor-card-left {
  text-align: center;
  margin-right: 10px;

  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      transition: 0.2s;
      color: #99A6A4;
    }
  }

}

.avatar_prof {
  width: 10vw;
  margin-bottom: 8px;
}

.contractor-card {
  width: 45vw;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0.6px rgba(0,0,1,0.04);
  margin-left: 11vw;
  margin-bottom: 3vh;
  padding: 24px;
  border: 1px solid #7691A0;
}

.contractor-right-top {
  display: flex;
  border-bottom: 1px solid #B5B5B5;
  padding-bottom: 4px;
}

.prof-elite {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.elite-icon {
  width: 25px;

}

.star-icon {
  width: 20px;
  margin-left: 2px;
  margin-right: 3px;
}

.seguro-icon {
  width: 17px;
  margin-left: 3px;
  margin-right: 5px;
}

.prof-text {
  margin-bottom: 0px;
  padding: 0px;
}

.confirm-prof-btn {
  border: 2px solid #848157;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #848157;
  padding: 8px;

  &:hover {
    text-decoration: none;
    color: #848157;
    background-color: rgba(219, 216, 174, 0.25);
    transform: scale(1.20);
    transition: all .2s ease-in-out;
    transition: 0.3s;
  }
}

.true-cont-all {
  background: url(shapes.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40vw 95vh;
  background-attachment: fixed;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.headers-contractor {
  margin-left: 11vw;
  padding-top: 18px;
  width: 45vw;

  h2 {
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 22px;
  }
}


.contractor-right-price-confirm {
  position: absolute;
  left: 46vw;
  text-align: right;
}

.contractor-price {
  margin-bottom: 22px;
}

.user-bio {
  margin-top: 8px;
}

.escoge-fecha {
  margin-left: 3px;
}

@media only screen and (max-width: 576px) {

  .true-cont-all {
    background: url(shapes.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 60vw 70vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
  }

  .headers-contractor {
    width: 90vw;
    text-align: center;
    margin-left: 0;
  }

  .contractor-card {
    margin-right: 0 !important;
    width: 90vw;
    margin-left: 0;
  }

  .contractor-right-price-confirm {
    position: absolute;
    left: 75vw;
    text-align: right;
  }

  .confirm-prof-btn {
    font-size: 12px;
  }

  .contractor-card-left {
    max-width: 77px;
    max-height: 195px;
  }
}
